<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinshuo.mall.admin.infra.mapper.ums.UmsCommentAlbumMapper">
    
    <resultMap type="com.jinshuo.mall.admin.domain.ums.UmsCommentAlbum" id="UmsCommentAlbumResult">
        <result property="id"    column="id"    />
        <result property="commentId"    column="comment_id"    />
        <result property="url"    column="url"    />
    </resultMap>
	
	<sql id="selectUmsCommentAlbumVo">
        select id, comment_id, url from ums_comment_album
    </sql>
	
    <select id="selectUmsCommentAlbumList" parameterType="com.jinshuo.mall.admin.domain.ums.UmsCommentAlbum" resultMap="UmsCommentAlbumResult">
        <include refid="selectUmsCommentAlbumVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="commentId != null "> and comment_id = #{commentId}</if>
             <if test="url != null  and url != '' "> and url = #{url}</if>
         </where>
    </select>
    
    <select id="selectUmsCommentAlbumById" parameterType="Long" resultMap="UmsCommentAlbumResult">
        <include refid="selectUmsCommentAlbumVo"/>
        where status = 0 and id = #{id}
    </select>
        
    <insert id="insertUmsCommentAlbum" parameterType="com.jinshuo.mall.admin.domain.ums.UmsCommentAlbum">
        insert into ums_comment_album
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="commentId != null  ">comment_id,</if>
			<if test="url != null  and url != ''  ">url,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="commentId != null  ">#{commentId},</if>
			<if test="url != null  and url != ''  ">#{url},</if>
         </trim>
    </insert>
	 
    <update id="updateUmsCommentAlbum" parameterType="com.jinshuo.mall.admin.domain.ums.UmsCommentAlbum">
        update ums_comment_album
        <trim prefix="SET" suffixOverrides=",">
            <if test="commentId != null  ">comment_id = #{commentId},</if>
            <if test="url != null  and url != ''  ">url = #{url},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteUmsCommentAlbumById" parameterType="Long">
        update  ums_comment_album set status = 1 where id = #{id}
    </delete>
    
</mapper>