<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinshuo.mall.admin.infra.mapper.ums.UmsMerMenuMapper">
    
    <resultMap type="com.jinshuo.mall.admin.domain.ums.UmsMerMenu" id="UmsMerMenuResult">
        <result property="id"    column="id"    />
        <result property="merchantId"    column="merchant_id"    />
        <result property="shopId"    column="shop_id"    />
        <result property="roleId"    column="role_id"    />
        <result property="menuId"    column="menu_id"    />
        <result property="status"    column="status"    />
        <result property="version"    column="version"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateDate"    column="update_date"    />
        <result property="remarks"    column="remarks"    />
    </resultMap>
	
	<sql id="selectUmsMerMenuVo">
        select id, merchant_id, shop_id, role_id, menu_id, status, version, create_date, update_date, remarks from ums_mer_menu
    </sql>
	
    <select id="selectUmsMerMenuList" parameterType="com.jinshuo.mall.admin.domain.ums.UmsMerMenu" resultMap="UmsMerMenuResult">
        <include refid="selectUmsMerMenuVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="merchantId != null "> and merchant_id = #{merchantId}</if>
             <if test="shopId != null "> and shop_id = #{shopId}</if>
             <if test="roleId != null "> and role_id = #{roleId}</if>
             <if test="menuId != null "> and menu_id = #{menuId}</if>
             <if test="status != null "> and status = #{status}</if>
             <if test="version != null "> and version = #{version}</if>
             <if test="createDate != null "> and create_date = #{createDate}</if>
             <if test="updateDate != null "> and update_date = #{updateDate}</if>
             <if test="remarks != null  and remarks != '' "> and remarks = #{remarks}</if>
         </where>
    </select>
    
    <select id="selectUmsMerMenuById" parameterType="Long" resultMap="UmsMerMenuResult">
        <include refid="selectUmsMerMenuVo"/>
        where status = 0 and id = #{id}
    </select>
        
    <insert id="insertUmsMerMenu" parameterType="com.jinshuo.mall.admin.domain.ums.UmsMerMenu">
        insert into ums_mer_menu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="merchantId != null  ">merchant_id,</if>
			<if test="shopId != null  ">shop_id,</if>
			<if test="roleId != null  ">role_id,</if>
			<if test="menuId != null  ">menu_id,</if>
			<if test="status != null  ">status,</if>
			<if test="version != null  ">version,</if>
			<if test="createDate != null  ">create_date,</if>
			<if test="updateDate != null  ">update_date,</if>
			<if test="remarks != null  and remarks != ''  ">remarks,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="merchantId != null  ">#{merchantId},</if>
			<if test="shopId != null  ">#{shopId},</if>
			<if test="roleId != null  ">#{roleId},</if>
			<if test="menuId != null  ">#{menuId},</if>
			<if test="status != null  ">#{status},</if>
			<if test="version != null  ">#{version},</if>
			<if test="createDate != null  ">#{createDate},</if>
			<if test="updateDate != null  ">#{updateDate},</if>
			<if test="remarks != null  and remarks != ''  ">#{remarks},</if>
         </trim>
    </insert>
	 
    <update id="updateUmsMerMenu" parameterType="com.jinshuo.mall.admin.domain.ums.UmsMerMenu">
        update ums_mer_menu
        <trim prefix="SET" suffixOverrides=",">
            <if test="merchantId != null  ">merchant_id = #{merchantId},</if>
            <if test="shopId != null  ">shop_id = #{shopId},</if>
            <if test="roleId != null  ">role_id = #{roleId},</if>
            <if test="menuId != null  ">menu_id = #{menuId},</if>
            <if test="status != null  ">status = #{status},</if>
            <if test="version != null  ">version = #{version},</if>
            <if test="createDate != null  ">create_date = #{createDate},</if>
            <if test="updateDate != null  ">update_date = #{updateDate},</if>
            <if test="remarks != null  and remarks != ''  ">remarks = #{remarks},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteUmsMerMenuById" parameterType="Long">
        update  ums_mer_menu set status = 1 where id = #{id}
    </delete>
    
</mapper>