<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinshuo.mall.admin.infra.mapper.ums.UmsUserShopMapper">
    
    <resultMap type="com.jinshuo.mall.admin.domain.ums.UmsUserShop" id="UmsUserShopResult">
        <result property="userId"    column="user_id"    />
        <result property="shopId"    column="shop_id"    />
    </resultMap>
	
	<sql id="selectUmsUserShopVo">
        select user_id, shop_id from ums_user_shop
    </sql>
	
    <select id="selectUmsUserShopList" parameterType="com.jinshuo.mall.admin.domain.ums.UmsUserShop" resultMap="UmsUserShopResult">
        <include refid="selectUmsUserShopVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
             <if test="shopId != null "> and shop_id = #{shopId}</if>
         </where>
    </select>
    
    <select id="selectUmsUserShopById" parameterType="Long" resultMap="UmsUserShopResult">
        <include refid="selectUmsUserShopVo"/>
        where status = 0 and user_id = #{userId}
    </select>
        
    <insert id="insertUmsUserShop" parameterType="com.jinshuo.mall.admin.domain.ums.UmsUserShop">
        insert into ums_user_shop
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null  ">user_id,</if>
			<if test="shopId != null  ">shop_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null  ">#{userId},</if>
			<if test="shopId != null  ">#{shopId},</if>
         </trim>
    </insert>
	 
    <update id="updateUmsUserShop" parameterType="com.jinshuo.mall.admin.domain.ums.UmsUserShop">
        update ums_user_shop
        <trim prefix="SET" suffixOverrides=",">
            <if test="shopId != null  ">shop_id = #{shopId},</if>
        </trim>
        where user_id = #{userId}
    </update>

	<delete id="deleteUmsUserShopById" parameterType="Long">
        update  ums_user_shop set status = 1 where user_id = #{userId}
    </delete>
    
</mapper>