<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinshuo.mall.admin.infra.mapper.gds.GdsSpecOptionMapper">
    
    <resultMap type="com.jinshuo.mall.admin.domain.gds.GdsSpecOption" id="GdsSpecOptionResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="specId"    column="spec_id"    />
        <result property="sort"    column="sort"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateDate"    column="update_date"    />
        <result property="remarks"    column="remarks"    />
        <result property="status"    column="status"    />
        <result property="version"    column="version"    />
    </resultMap>
	
	<sql id="selectGdsSpecOptionVo">
        select id, name, spec_id, sort, create_date, update_date, remarks, status, version from gds_spec_option
    </sql>
	
    <select id="selectGdsSpecOptionList" parameterType="com.jinshuo.mall.admin.domain.gds.GdsSpecOption" resultMap="GdsSpecOptionResult">
        <include refid="selectGdsSpecOptionVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="name != null  and name != '' "> and name = #{name}</if>
             <if test="specId != null "> and spec_id = #{specId}</if>
             <if test="sort != null "> and sort = #{sort}</if>
             <if test="createDate != null "> and create_date = #{createDate}</if>
             <if test="updateDate != null "> and update_date = #{updateDate}</if>
             <if test="remarks != null  and remarks != '' "> and remarks = #{remarks}</if>
             <if test="status != null "> and status = #{status}</if>
             <if test="version != null "> and version = #{version}</if>
         </where>
    </select>
    
    <select id="selectGdsSpecOptionById" parameterType="Long" resultMap="GdsSpecOptionResult">
        <include refid="selectGdsSpecOptionVo"/>
        where status = 0 and id = #{id}
    </select>
        
    <insert id="insertGdsSpecOption" parameterType="com.jinshuo.mall.admin.domain.gds.GdsSpecOption">
        insert into gds_spec_option
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="name != null  and name != ''  ">name,</if>
			<if test="specId != null  ">spec_id,</if>
			<if test="sort != null  ">sort,</if>
			<if test="createDate != null  ">create_date,</if>
			<if test="updateDate != null  ">update_date,</if>
			<if test="remarks != null  and remarks != ''  ">remarks,</if>
			<if test="status != null  ">status,</if>
			<if test="version != null  ">version,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="name != null  and name != ''  ">#{name},</if>
			<if test="specId != null  ">#{specId},</if>
			<if test="sort != null  ">#{sort},</if>
			<if test="createDate != null  ">#{createDate},</if>
			<if test="updateDate != null  ">#{updateDate},</if>
			<if test="remarks != null  and remarks != ''  ">#{remarks},</if>
			<if test="status != null  ">#{status},</if>
			<if test="version != null  ">#{version},</if>
         </trim>
    </insert>
	 
    <update id="updateGdsSpecOption" parameterType="com.jinshuo.mall.admin.domain.gds.GdsSpecOption">
        update gds_spec_option
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="specId != null  ">spec_id = #{specId},</if>
            <if test="sort != null  ">sort = #{sort},</if>
            <if test="createDate != null  ">create_date = #{createDate},</if>
            <if test="updateDate != null  ">update_date = #{updateDate},</if>
            <if test="remarks != null  and remarks != ''  ">remarks = #{remarks},</if>
            <if test="status != null  ">status = #{status},</if>
            <if test="version != null  ">version = #{version},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteGdsSpecOptionById" parameterType="Long">
        update  gds_spec_option set status = 1 where id = #{id}
    </delete>
    
</mapper>