<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinshuo.mall.admin.infra.mapper.gds.GdsTagMapper">
    
    <resultMap type="com.jinshuo.mall.admin.domain.gds.GdsTag" id="GdsTagResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="goodsCount"    column="goods_count"    />
        <result property="sort"    column="sort"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateDate"    column="update_date"    />
        <result property="remarks"    column="remarks"    />
        <result property="status"    column="status"    />
        <result property="version"    column="version"    />
        <result property="shopId"    column="shop_id"    />
    </resultMap>
	
	<sql id="selectGdsTagVo">
        select id, name, goods_count, sort, create_date, update_date, remarks, status, version, shop_id from gds_tag
    </sql>
	
    <select id="selectGdsTagList" parameterType="com.jinshuo.mall.admin.domain.gds.GdsTag" resultMap="GdsTagResult">
        <include refid="selectGdsTagVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="name != null  and name != '' "> and name = #{name}</if>
             <if test="goodsCount != null "> and goods_count = #{goodsCount}</if>
             <if test="sort != null "> and sort = #{sort}</if>
             <if test="createDate != null "> and create_date = #{createDate}</if>
             <if test="updateDate != null "> and update_date = #{updateDate}</if>
             <if test="remarks != null  and remarks != '' "> and remarks = #{remarks}</if>
             <if test="status != null "> and status = #{status}</if>
             <if test="version != null "> and version = #{version}</if>
             <if test="shopId != null "> and shop_id = #{shopId}</if>
         </where>
    </select>
    
    <select id="selectGdsTagById" parameterType="Long" resultMap="GdsTagResult">
        <include refid="selectGdsTagVo"/>
        where status = 0 and id = #{id}
    </select>
        
    <insert id="insertGdsTag" parameterType="com.jinshuo.mall.admin.domain.gds.GdsTag">
        insert into gds_tag
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="name != null  and name != ''  ">name,</if>
			<if test="goodsCount != null  ">goods_count,</if>
			<if test="sort != null  ">sort,</if>
			<if test="createDate != null  ">create_date,</if>
			<if test="updateDate != null  ">update_date,</if>
			<if test="remarks != null  and remarks != ''  ">remarks,</if>
			<if test="status != null  ">status,</if>
			<if test="version != null  ">version,</if>
			<if test="shopId != null  ">shop_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="name != null  and name != ''  ">#{name},</if>
			<if test="goodsCount != null  ">#{goodsCount},</if>
			<if test="sort != null  ">#{sort},</if>
			<if test="createDate != null  ">#{createDate},</if>
			<if test="updateDate != null  ">#{updateDate},</if>
			<if test="remarks != null  and remarks != ''  ">#{remarks},</if>
			<if test="status != null  ">#{status},</if>
			<if test="version != null  ">#{version},</if>
			<if test="shopId != null  ">#{shopId},</if>
         </trim>
    </insert>
	 
    <update id="updateGdsTag" parameterType="com.jinshuo.mall.admin.domain.gds.GdsTag">
        update gds_tag
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="goodsCount != null  ">goods_count = #{goodsCount},</if>
            <if test="sort != null  ">sort = #{sort},</if>
            <if test="createDate != null  ">create_date = #{createDate},</if>
            <if test="updateDate != null  ">update_date = #{updateDate},</if>
            <if test="remarks != null  and remarks != ''  ">remarks = #{remarks},</if>
            <if test="status != null  ">status = #{status},</if>
            <if test="version != null  ">version = #{version},</if>
            <if test="shopId != null  ">shop_id = #{shopId},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteGdsTagById" parameterType="Long">
        update  gds_tag set status = 1 where id = #{id}
    </delete>
    
</mapper>